.parallax-window {
    min-height: 400px;
    position: fixed;
    margin-top: -50px;
}
.section {
    padding: 1.875em 0;
    position: relative;
}
.section .title {
    max-width: 760px;
    margin: 0 auto;
    display: block;
}
.section .text-area {
    padding: 4.375em 0;
    position: relative;
    z-index: 3;
    display: block;
    background-color: #FFFFFF;
}
.section .parallax, .section .full-image {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: block;
}
.section .parallax > img, .section .full-image > img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: relative;
    z-index: 1;
}
.section-header {
    padding: 0;
    top: 0;
    z-index: -1;
}
.pattern-image {
    width: 100%;
    background-size: 100%;
}
.pattern-image:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: "";
    opacity: .4;
    background: #000;
    background: url("../img/pattern.png");
}
.panel-login {
    padding: 15px;
    border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}
.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
.footer {
	margin-bottom: 0;
}
.btn-navbar {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 6px;
	text-transform: none;
}
.navbar span {
	color: white;
	font-size: 18px;
	padding-right: 30px;
}
.promo {
	position: absolute;
	top: 100px;
	color: white;
	z-index: 100;
}
.form-error {
	color: red;
	padding: 4px;
}
.question-image {
	max-width: 700px;
	max-height: 300px;
	padding-bottom: 16px;
}
.answer-image {
	max-width: 500px;
	max-height: 150px;
}
.jumbotron label {
	font-size: 20px;
}