{% extends 'base/main.html' %}

{% block content %}
    <div class="section section-header parallax-window">
        <div class="pattern-image">

        </div>
    </div>
    <div class="container promo">
        <h2>Электронный информационно-образовательный ресурс<br>для студентов РЛ6 МГТУ им.Н.Э.Баумана</h2>
    </div>

    <div class="container">
        <h1>Дисциплины</h1>

        <div class="row">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-12">
                        {% for discipline in discipline_list %}
                            {% if user.is_authenticated %}
                            <a href="{% url 'learning:discipline' discipline_id=discipline.id %}">
                            {% else %}
                            <a href="#" data-toggle="modal" data-target="#auth-modal">
                            {% endif %}
                                <div class="col-md-4">
                                    <div class="profile-card profile-card-hover text-center">
                                        <div class="card-img">
                                            <img src="{{ discipline.image.url }}">
                                        </div>
                                        <div class="profile-info">
                                            <h2 class="hvr-underline-from-center">
                                                {{ discipline.name }}<span></span>
                                            </h2>
                                            <div>{{ discipline.short_description }}</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}